@model Employee

<div class="form-group">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3>Şəkil : <img style="width:90px;border-radius:30%;height:90px;" src="~/assets/projecphotos/@Model.Image" /></h3>
            
                <h4>Telefon nömrəsi: @Model.PhoneNumber</h4>
                <h4> Doğum tarixi: @Model.DateofBirth.ToString("dd/MM/yyyy")</h4>
                <h4>Epoçt ünvanı: @Model.Email</h4>
                <a asp-action="Index" class="btn btn-reddit">Geriyə qayıt</a>
            </div>
        </div>
    </div>
</div>
