@model Position
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Vəzifə adı</h4>
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="PosName">Vəzifə Adı</label>
                            <input asp-for="PosName" class="form-control" placeholder="Name">
                            <span asp-validation-for="PosName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Responsibilities">Vəzifə öhdəlikləri</label>
                            <input asp-for="Responsibilities" class="form-control" placeholder="Responsibilities">
                            <span asp-validation-for="Responsibilities" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-gradient-primary me-2">Davam et</button>
                        <a asp-action="Index" class="btn btn-light">Ləğv et</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }





