@model Position
<div class="row" style="margin-bottom: 250px;">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Vəzifə adı</h4>
                <div class="form-group">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                               <h4> Vəzifə: @Model.PosName</h4>
                               <h4> Vəzifə öhdəlikləri: @Model.Responsibilities</h4> 
                                <a asp-action="Index" class="btn btn-reddit">Geriyə qayıt</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}