
@model RegisterVM
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Istifadəçi yarat</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label asp-for="Name">Ad</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname">Soyad</label>
                        <input asp-for="Surname" class="form-control">
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Username">İstifadəçi adı</label>
                        <input asp-for="Username" class="form-control">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber">Telefon nömrəsi</label>
                        <input asp-for="PhoneNumber" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div>
                        <span ><h5>Cins</h5></span>
                        <label asp-for="IsMale" class="radio inline">
                            <label class="text-dark form-check-label" for="inlineCheckbox1"><h6>Kişi</h6></label>
                            <input type="radio" name="gender" value="true">
                            <span asp-validation-for="IsMale" class="text-danger"></span>
                        </label>
                        <label asp-for="IsMale" class="radio inline">
                            <label class="form-check-label" for="inlineCheckbox2"><h6>Qadın</h6></label>
                            <input type="radio" name="gender" value="false">
                            <span asp-validation-for="@Model.IsMale" class="text-danger"></span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Poçt ünvanı</label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Rolu seç</label>
                        <select name="newRole" class="form-control">
                            @foreach (IdentityRole role in ViewBag.Roles)
                            {
                                <option value="@role.Name">@role.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Şifrə</label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Şifrəni təsdiqlə</label>
                        <input asp-for="ConfirmPassword" class="form-control">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Yarat</button>
                    <a asp-action="Index" class="btn btn-light">Ləğv et</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
